name: Publish

on: 
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://npm.pkg.github.com/
          scope: '@xabi93'
      - name: Generate new version
        run: 'npm version ${{ steps.vars.outputs.tag }} -m "build: bump %s" --no-git-tag-version'
      - name: Publish new version
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.event.repository.default_branch }}
          commit_message: "build: bump ${{ steps.vars.outputs.tag }}"
